layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab split_direction="Vertical" {
        pane split_direction="Vertical" {
            pane command="nu" size="15%" {
                args "-c" "broot --conf ~/.config/broot/ide.toml --sort-by-type-dirs-first"
            }
            pane command="nu" size="50%" {
                args "-c helix"
            }
            pane size="35%" split_direction="Horizontal" {
                pane command="btm" size="20%" borderless=true {
                    args "--config" "/home/trivernis/.config/bottom/dev.toml"
                }
                pane size="80%"
            }
        }
    }
}
scroll_buffer_size 10000
copy_command "wl-copy"
auto_layout false
